mat-sidenav-container{
    height: 100vh;
    
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
    color: white;
    
}
mat-sidenav{
    background-color:#34495e;
    width: 200px;
}
mat-sidenav-content{
    background-color: #141d26;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.luna-img-container {
    
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden; /* Per tagliare l'immagine oltre il bordo destro */
  }
  
  .luna-img {
    
    margin-left: 350px;
    width: 90%; /* Larghezza al 100% del contenitore */
    height: auto;
    opacity: 0.1; /* Opacità dell'immagine (valore tra 0 e 1) */
  }