<div class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center mt-4">
            <h1>Alcohol content graph of Beers</h1>
            <h4>Using the data provided by the API, we dynamically populate the chart using the Highcarts library.</h4>
            <hr>
            <input type="number" name="" id="" placeholder="numbers of beers" [(ngModel)]="numBeer">
            <button mat-button [matMenuTriggerFor]="menu">Chose graph!</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="getValues()">columns</button>
                <button mat-menu-item (click)="getValuesArea()">Area</button>
            </mat-menu>
            <div *ngIf="isVisible" class="chart mt-5">
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag"
                    class="chart">
                </highcharts-chart>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>