<footer class="text-center text-lg-start bg-light text-muted">
  <section class="text-white" style="background-color: #2c3e50">
    <div class="container text-center text-md-start">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class=" mt-3 text-uppercase fw-bold mt-2 mb-4">
            <i class="fas fa-gem me-3"></i>An Angular Project
          </h6>
          <p>Just a project to get comfortable with the Angular framework!</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="mt-3 text-uppercase fw-bold mb-4">Docs</h6>
          <p>
            <a href="https://angular.io/docs" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://material.angular.io/" class="text-reset"
              >Angular/material</a
            >
          </p>
          <p>
            <a
              href="https://getbootstrap.com/docs/4.1/getting-started/introduction/"
              class="text-reset"
              >Bootstrap</a
            >
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="mt-3 text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fas fa-home me-3"></i> c.dimichele@software-inside.com
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            a.dunare@software-inside.com
          </p>
        </div>
      </div>
    </div>
  </section>
  <div style="background-color: #1f2833" class="text-center text-white p-4">
    Powered by <strong>Angular 15.2.9</strong>
  </div>
</footer>
