#map {
    border: 3px solid gray;
    height: 80vh;
}

.errore-ricerca-city {

    width: auto;
    background-color: rosybrown;
    border: 1px solid red;
    

}
.weather{
    background-color:#445566;
    padding: 10px;
}