table {
  width: 80%;
  background-color:#34495e;
  color:white;
}

.tabella {
  
  background-color: aqua;
}

.update-form {
  background-color: #34495ee1;
  border-radius: 11px;

  

}
.getData{
  background:linear-gradient(rgb(10, 10, 10),grey,rgb(10, 10, 10));
  color:azure;
  height: 32px;
  justify-content: center;
}

td{
  color: white;
  font-family: sans-serif;
}
th{
  color: white;
  font-family: sans-serif;
  font-size: 18px;

}

.search-user-form {
  width: 400px;
  background-color:#445566;
  border-radius: 11px;
  padding: 10px;
}