<div class="container">
  <div class="row">
    <div class="col-3">
      <label for="">Add data</label> &nbsp;
      <button class="btn btn-danger" (click)="openForm()">+</button>

      <hr />
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="isFormOpened">

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput type="text" name="surname" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fiscal Code</mat-label>
          <input matInput type="text" name="fiscalCode" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput type="text" name="dateOfBirth" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" required email ngModel>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <mat-label>netWorth</mat-label>
          <input matInput type="email" name="netWorth" required ngModel>
        </mat-form-field>
        <br>
        <div class="row">
          <div class="col">
            <button mat-raides-button class="btn btn-secondary" (click)="openForm()">Cancella Form</button>&nbsp;

          </div>
          <div class="col">
            <button mat-raides-button type="submit" class="btn btn-danger" [disabled]="form.invalid">Invia</button>

          </div>
        </div>

      </form>


      <div class="col">

      </div>
    </div>
  </div>